.btn17 {
    border: 0 solid;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    mask-image: radial-gradient(#000, #fff);
    padding: 0;
    text-transform: none;
    border-radius: 24px;
    border-width: 0px;
    padding: 0.8rem 3rem;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.btn17:disabled {
    cursor: default;
}

.btn17:-moz-focusring {
    outline: auto;
}

.btn17 svg {
    display: block;
    vertical-align: middle;
}

.btn17 [hidden] {
    display: none;
}

.textContainer {
    display: block;
    mix-blend-mode: difference;
    overflow: hidden;
    position: relative;
}

.text {
    display: block;
    position: relative;
}

.btn17:hover .text {
    -webkit-animation: move-up-alternate 0.3s forwards;
    animation: move-up-alternate 0.3s forwards;
}

@keyframes move-up-alternate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(80%);
    }

    51% {
        transform: translateY(-80%);
    }

    to {
        transform: translateY(0);
    }
}

.btn17:after,
.btn17:before {
    --skew: 0.2;
    background: #fff;
    content: "";
    display: block;
    height: 102%;
    left: calc(-50% - 50% * var(--skew));
    pointer-events: none;
    position: absolute;
    top: -104%;
    transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
    transition: transform 0.2s ease;
    width: 100%;
}

.btn17:after {
    --progress: 0%;
    left: calc(50% + 50% * var(--skew));
    top: 102%;
    z-index: -1;
}

.btn17:hover:before {
    --progress: 100%;
}

.btn17:hover:after {
    --progress: -102%;
}

.btn17faq {
    border: 0 solid;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    appearance: button;
    background-color: #fff;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    mask-image: radial-gradient(#000, #fff);
    padding: 0;
    text-transform: none;
    border-radius: 24px;
    border-width: 0px;
    padding: 0.8rem 3rem;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.btn17faq:disabled {
    cursor: default;
}

.btn17faq:-moz-focusring {
    outline: auto;
}

.btn17faq svg {
    display: block;
    vertical-align: middle;
}

.btn17faq [hidden] {
    display: none;
}

.btn17faq:hover .text {
    -webkit-animation: move-up-alternate 0.3s forwards;
    animation: move-up-alternate 0.3s forwards;
}

.btn17faq:after,
.btn17faq:before {
    --skew: 0.2;
    background: #000;
    content: "";
    display: block;
    height: 102%;
    left: calc(-50% - 50% * var(--skew));
    pointer-events: none;
    position: absolute;
    top: -104%;
    transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
    transition: transform 0.2s ease;
    width: 100%;
}

.btn17faq:after {
    --progress: 0%;
    left: calc(50% + 50% * var(--skew));
    top: 102%;
    z-index: -1;
}

.btn17faq:hover:before {
    --progress: 100%;
}

.btn17faq:hover:after {
    --progress: -102%;
}

.btn17faq:hover {
    color: #fff;
}