.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loader {
    width: 100%;
    max-width: 600px;
}

.trace-bg {
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 8;
    fill: none;
}

.trace-flow {
    stroke-width: 8;
    fill: none;
    stroke-dasharray: 40 400;
    stroke-dashoffset: 438;
    filter: drop-shadow(0 0 10px currentColor);
    animation: flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}

.yellow {
    stroke: #ffff00;
    color: #ffff00;
}

.blue {
    stroke: #00ffff;
    color: #00ffff;
}

.green {
    stroke: #00ff00;
    color: #00ff00;
}

.purple {
    stroke: #d500ff;
    color: #d500ff;
}

.red {
    stroke: #ff0000;
    color: #ff0000;
}

@keyframes flow {
    to {
        stroke-dashoffset: 0;
    }
}

.chip-body {
    rx: 20;
    ry: 20;
}

.chip-text {
    font-weight: bold;
    letter-spacing: 1px;
}

.chip-pin {
    stroke: #444;
    stroke-width: 0.5;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
}