.container_chat_bot {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.container-chat-options {
    position: relative;
    display: flex;
    background: linear-gradient(to bottom right,
            #363636,
            #363636,
            #363636,
            #363636,
            #363636);
    border-radius: 16px;
    padding: 1.5px;
    overflow: hidden;
}



.chat {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
}

.chat-bot {
    position: relative;
    display: flex;
    width: 100%;
}

.textarea {
    background-color: transparent;
    border-radius: 16px;
    border: none;
    width: 100%;
    min-height: 50px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 14px;
    resize: none;
    outline: none;
}

.textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.textarea::-webkit-scrollbar-track {
    background: transparent;
}

.textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

.textarea::placeholder {
    color: #f3f6fd;
    transition: all 0.3s ease;
}

.textarea:focus::placeholder {
    color: #363636;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.btns-add {
    display: flex;
    gap: 8px;
}

.btns-add button {
    display: flex;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 4px;
}

.btns-add button:hover {
    transform: translateY(-5px);
    color: #ffffff;
}

.btn-submit {
    display: flex;
    padding: 2px;
    background: transparent;
    border-radius: 10px;
    box-shadow: inset 0 6px 2px -4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.15s ease;
}

.btn-submit i {
    display: flex;
    width: 34px;
    height: 34px;
    padding: 7px;
    background: #D0FE17;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    color: #000000;
    align-items: center;
    justify-content: center;
}

.btn-submit svg {
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
}

.btn-submit:hover svg {
    color: #333333;
    filter: none;
}

.btn-submit:focus svg {
    color: #f3f6fd;
    filter: drop-shadow(0 0 5px #ffffff);
    transform: scale(1.2) rotate(45deg) translateX(-2px) translateY(1px);
}

.btn-submit:active {
    transform: scale(0.92);
}

.tags {
    padding: 14px 0;
    display: flex;
    color: #ffffff;
    font-size: 10px;
    gap: 8px;
    justify-content: center;
}

.tags span {
    padding: 6px 12px;
    background-color: #1b1b1b;
    border: 1.5px solid #363636;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
}

.tags span:hover {
    background-color: #2a2a2a;
    border-color: #555;
}