.shine {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.3);
    background: #222 -webkit-gradient(linear,
            left top,
            right top,
            from(#222),
            to(#222),
            color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: linear-gradient(-40deg,
            transparent 0%,
            transparent 40%,
            #fff 50%,
            transparent 60%,
            transparent 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200px;
    animation: zezzz 5s infinite;
}

@keyframes zezzz {

    0%,
    10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    100% {
        background-position: 1000px;
    }
}