.boardContainer {
    position: relative;
    border: 2px solid hsl(0 0% 16%);
    border-radius: 4px;
    transform: scale(var(--scale, 1)) rotate(0deg);
    width: 100%;
    margin: 2rem auto;
}

.boardContainer::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: linear-gradient(-68deg, #0000 63% 69.5%, #fff 70% 80%, #0000 80.5% 82.5%, #fff 82% 86.5%, #0000 87% 100%);
    z-index: 3;
    opacity: 0.12;
    mix-blend-mode: plus-lighter;
    pointer-events: none;
}

.rivets {
    position: absolute;
    inset: 0;
    z-index: 4;
    pointer-events: none;
}

.rivet {
    background: hsl(0 0% 10%);
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 0px hsl(0 0% 100% / 0.2) inset;
}

.rivet::after {
    content: '';
    height: 2px;
    width: 80%;
    border-radius: 10px;
    background: hsl(0 0% 0%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    box-shadow: 0 -1px hsl(0 0% 100% / 0.2) inset;
}

.rivet:nth-of-type(1) {
    left: calc(100% + 4px);
    bottom: calc(100% + 4px);
}

.rivet:nth-of-type(2) {
    right: calc(100% + 4px);
    bottom: calc(100% + 4px);
}

.rivet:nth-of-type(3) {
    right: calc(100% + 4px);
    top: calc(100% + 4px);
}

.rivet:nth-of-type(4) {
    left: calc(100% + 4px);
    top: calc(100% + 4px);
}

.board {
    --size: 4px;
    font-family: var(--font-teko);
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    padding-block: 1rem;
    line-height: 1;
    overflow: hidden;
    container-type: inline-size;
    /* background: hsl(0 0% 6%); fallback */
    background: oklch(0.5 0.18 var(--hue) / var(--bg-lightness, 0.5));
    position: relative;
    filter: contrast(2) brightness(1.5) saturate(2);
    transform: translateZ(0);
}

.board::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    mix-blend-mode: plus-lighter;
    filter: brightness(1.1);
    background: radial-gradient(circle at center, hsl(0 0% 20%) 1px, transparent 4px) 50% 50% / var(--size) var(--size);
    transform: translateZ(0);
    pointer-events: none;
}

.boardContent {
    filter: blur(calc(var(--blur, 1) * 1px)) contrast(1.2) brightness(1) saturate(1.6);
    color: transparent;
    height: 100%;
    width: 100%;
    mask: radial-gradient(circle at center, #000 1px, #0000 1px) 50% 50% / var(--size) var(--size);
    transform: translateZ(0);
}

.textTrack {
    position: relative;
    display: flex;
    width: fit-content;
    animation: slide calc(var(--duration, 10) * 1s) infinite linear;
    color: transparent;
    filter: blur(1px) contrast(1) saturate(1) hue-rotate(0deg) brightness(1);
    transform: translateZ(0);
}

.text {
    /* text-box-trim: trim-both; */
    /* Experimental */
    /* text-box-edge: cap alphabetic; */
    /* Experimental */
    padding-inline: 4rem;
    width: fit-content;
    min-width: 100cqmin;
    text-align: center;
    color: #D0FE17;
    -webkit-text-stroke: 1px red;
    transform: translateZ(0);
}

.bearLink {
    color: currentColor;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
    z-index: 9999;
}

.bearLink:hover,
.bearLink:focus-visible {
    opacity: 1;
}

.bearLink svg {
    width: 75%;
}

@keyframes slide {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}